.container {
    display: grid;
    grid-template-rows: 3rem 50rem 3rem;
    grid-template-columns: 10rem 2fr;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer';
    width: auto;
    height: auto;
}

.header {
    grid-area: header;
    background-color: #f2e9de;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.header a{
    color: #286983;
    font-size: 18px;
    margin-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

.header .navigation span:hover {
    background-color: #b4637a;
}

.footer {
    grid-area: footer;
    background-color: #f2e9de;
    padding: 1rem;
    color: #286983;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f2e9de;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.5rem;
}

.sidebar-button {
    background-color: #f2e9de;
    border: none;
    color: #286983;
    padding: 2rem;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
    font-weight: bolder;
}

.side-nav {
    background-color: #fffaf3;
    color: #286983;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

.content {
    grid-area: content;
    background-color: #f2e9de;
}

.add-text {
    background-color: #f2e9de;
    border: none;
    color: #286983;
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.save-button {
    background-color: #f2e9de;
    border: none;
    color: #286983;
    font-family: 'Raleway', sans-serif; 
    font-size: 15px;
    font-weight: bold;
}

.delete-button {
    background: #f2e9de;
    border: none;
    color: #286983;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
}