.container {
    display: grid;
    grid-template-rows: 3rem 50rem 3rem;
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer';
}

.header {
    grid-area: header;
    background-color: #f2e9de;
    display: flex
}